workflows/ElevenLabs Voice Agent - Vectorize Data Workflow.json
{
  "name": "Vectorize Data Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c385d082-5737-4cae-8a8b-83e89fb6d0f1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "id": "339ecd79-8789-4031-b274-cd770014dc07",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1100,
        320
      ],
      "id": "acbbb72c-0a71-43e5-934c-cfbac671887b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1120,
        540
      ],
      "id": "7e5c626d-8907-4c7b-a489-ec1b31ab01b7",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanels",
          "mode": "list",
          "cachedResultName": "solarpanels"
        },
        "options": {
          "pineconeNamespace": "energyconcerns"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        940,
        20
      ],
      "id": "ae940ead-5f48-4497-85ca-df3177674799",
      "name": "Pinecone Database",
      "credentials": {
        "pineconeApi": {
          "id": "XobPP69owfXohD1X",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        340
      ],
      "id": "31e9c0e7-ff10-4bee-91c8-6151fb0fc13f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hfQoIhVVro1hGPUj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 20,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1HRoCi_3qLJPImB0tOA9L2SpIWF0joTOL",
            "mode": "list",
            "cachedResultName": "Solar Panels Installer Agent n8n eleven labs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1HRoCi_3qLJPImB0tOA9L2SpIWF0joTOL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "60304737-98a3-4964-aed4-fc31678fc49b",
      "name": "Google Drive Search Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WwJf6x4DkHV3hPuf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        420,
        0
      ],
      "id": "5959e2b9-4ef4-4f03-a7d2-8212b1761112",
      "name": "Google Drive Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WwJf6x4DkHV3hPuf",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive Search Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Database": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Search Folder": {
      "main": [
        [
          {
            "node": "Google Drive Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7dfc9e3d-be73-4d8c-9035-4e08cec34d32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae59e6b831344dba624c99cbe778a4bc47150f8e64de86a8011d15bac8e58c21"
  },
  "id": "00ePQEcVhOGa0htg",
  "tags": []
}