workflows/ElevenLabs Agent.json
{
  "name": "Eleven Labs Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d84a8d03-c9a5-4e05-bb9b-508c6d25b68f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1700,
        40
      ],
      "id": "6ab59750-dd4f-49e3-b4c5-0425955007e1",
      "name": "Webhook",
      "webhookId": "d84a8d03-c9a5-4e05-bb9b-508c6d25b68f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1940,
        260
      ],
      "id": "2fdccdc5-3682-423a-9421-c2075d625099",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LSihAOI8NTU3m5ce",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanels",
          "mode": "list",
          "cachedResultName": "solarpanels"
        },
        "options": {
          "pineconeNamespace": "solarpanels"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2060,
        500
      ],
      "id": "a3527d4d-27b5-4911-a576-89b86510348d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XobPP69owfXohD1X",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1960,
        640
      ],
      "id": "db92e336-9739-43de-bc31-f94aa5aaf76b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DBpeXA2IXrXK46lj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        2440,
        500
      ],
      "id": "bc4cb7cf-8874-4427-ab13-8185bba21401",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LSihAOI8NTU3m5ce",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2420,
        40
      ],
      "id": "91b03081-4360-463a-ac1c-4279db4a20bb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2060,
        40
      ],
      "id": "dee54da4-6d20-4396-808e-9187b889ff22",
      "name": "Solar Panels Installer's Agent"
    },
    {
      "parameters": {
        "name": "data",
        "description": "Use this data to answer user questions clearly and accurately.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2180,
        260
      ],
      "id": "660ebcaa-1e29-4d40-9e35-f68fd6644612",
      "name": "Searching Pinecone Database"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Solar Panels Installer's Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Solar Panels Installer's Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Searching Pinecone Database",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Searching Pinecone Database",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Solar Panels Installer's Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Searching Pinecone Database": {
      "ai_tool": [
        [
          {
            "node": "Solar Panels Installer's Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "262d4606-38e0-42e3-a538-6811dbc9f001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae59e6b831344dba624c99cbe778a4bc47150f8e64de86a8011d15bac8e58c21"
  },
  "id": "P8YWDQy2KNmZ2guL",
  "tags": []
}