workflows/Google Drive and Airtable.json
{
  "name": "Google Drive and Airtable",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18C0w-t0TOowHq9q98HJARkMrI7YtsEZ9",
          "mode": "list",
          "cachedResultName": "Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18C0w-t0TOowHq9q98HJARkMrI7YtsEZ9"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0bf5fa69-a244-4489-8fdc-e7aa98f11317",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kkS3NlMoYYb0qAIL",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "krystianudemy@gmail.com"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "166edcfa-b43f-42a3-900e-b1564a7f0350",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kkS3NlMoYYb0qAIL",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphErINakpKqd32C",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/apphErINakpKqd32C"
        },
        "table": {
          "__rl": true,
          "value": "tblaWszP22k7IhfKS",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apphErINakpKqd32C/tblaWszP22k7IhfKS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File ID": "={{ $('Google Drive Trigger').item.json.id }}",
            "Creation Time": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "Recipient Email": "krystianudemy@gmail.com"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creation Time",
              "displayName": "Creation Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Recipient Email",
              "displayName": "Recipient Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "id": "efb1b698-3892-4dc9-9cd5-b407dfa5af3d",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "T1JpYIRk4WRRBFj2",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63b22e14-378e-48f1-b92d-5a0133599d06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f96a7e8659163312cbaf16ad76688747ea79fa6bf8e4ec720c14444abdf2c12c"
  },
  "id": "dAhPqIeiWrSc45se",
  "tags": []
}