workflows/JSON Syntax Assessment.json
{
  "name": "Interactive Test -  Master the JSON Syntax",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Success</title>\n</head>\n<body style=\"margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background-color: #f0f2f5; display: flex; align-items: center; justify-content: center; height: 100vh;\">\n\n    <!-- The main success card -->\n    <div style=\"background-color: #ffffff; padding: 40px 50px; border-radius: 12px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1); text-align: center; max-width: 400px; margin: 20px;\">\n\n        <!-- Circular Green Checkmark -->\n        <div style=\"width: 100px; height: 100px; background-color: #28a745; border-radius: 50%; margin: 0 auto 25px auto; display: flex; align-items: center; justify-content: center;\">\n            <span style=\"color: white; font-size: 60px; line-height: 1;\">✔</span>\n        </div>\n\n        <!-- Main Text -->\n        <h1 style=\"font-size: 36px; font-weight: 600; color: #333; margin: 0 0 10px 0;\">\n            Success!\n        </h1>\n\n        <!-- Call to Action Text & Link -->\n        <p style=\"font-size: 16px; color: #555; line-height: 1.5; margin: 0;\">\n            To go further, you can\n         </p>\n        <p style=\"font-size: 16px; color: #555; line-height: 1.5; margin: 0;\">\n            <a href=\"https://n8n.io/creators/lucaspeyrin\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #007bff; text-decoration: none; font-weight: 500;\">check out more templates</a>.\n        </p>\n\n    </div>\n\n</body>\n</html>"
      },
      "id": "bd2c67c6-8447-4a45-a57f-f5d91bf89990",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "🎉 SUCCESS 🎉",
      "type": "n8n-nodes-base.html",
      "creator": "Lucas Peyrin",
      "position": [
        32,
        -96
      ],
      "notesInFlow": true,
      "typeVersion": 1.2,
      "notes": "Well done! You're awesome\n\n© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 2: Number\n\nModify the **\"Test - Number\"** node.\n\n**Task:** Create a JSON object with two keys:\n- `product_id` with the number `12345`\n- `price` with the decimal number `99.99`\n\n\n![Numbers](https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHE0eWdiMzg5bG4ya3U0am05MHgweGp3dXE2OWtvZGpwdng2ZzhxayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JBRR744Ozd0xLhksLw/giphy.gif)",
        "height": 508,
        "width": 300,
        "color": 6
      },
      "id": "66988c53-2854-473f-b71b-ba383ad9bb0a",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Instruction - Number",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -4208,
        -416
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Numbers must not be in quotes. Check both the integer and the decimal value.",
        "height": 320,
        "color": 7
      },
      "id": "944a4ac8-e2f0-48e5-9762-4b024619a705",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Incorrect2",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -3696,
        -32
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 3: Boolean\n\nModify the **\"Test - Boolean\"** node.\n\n**Task:** Create a JSON object with two keys:\n- `is_active` with the value `true`\n- `has_permission` with the value `false`\n\n\n![Boolean](https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWdzOGFzY2c1enhmZmFwY2s5cmxmaDJwMm1rbXZ3b2wxYmZzcTQ5diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/x2NtwIIIICGZXhDNrb/giphy.gif)",
        "height": 700,
        "width": 316,
        "color": 6
      },
      "id": "f040b981-026c-4695-8221-32f86ec7a955",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Instruction - Boolean",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -3392,
        -496
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"is_active\": ,\n  \"has_permission\": \n}\n",
        "options": {}
      },
      "id": "ed5e153d-97c9-43cb-b481-4051d439622b",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Test - Boolean",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -3280,
        -96
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d4e5f6a7-8901-2345-6789-0abcdef12345",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.is_active }}",
              "rightValue": true
            },
            {
              "id": "e5f6a789-0123-4567-890a-bcdef1234567",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_permission }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "458e1128-c98c-4652-9e46-026df3cebdc5",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Check - Boolean",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        -3024,
        -96
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nNow for the `null` value.",
        "height": 272,
        "color": 7
      },
      "id": "c9539d9a-6e09-4b95-bf56-68827e52c495",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Correct3",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -2864,
        -320
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "6365d354-836e-4c98-82c7-9a41e6176f7c",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Success - Boolean",
      "type": "n8n-nodes-base.noOp",
      "creator": "Lucas Peyrin",
      "position": [
        -2800,
        -208
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Boolean values are `true` or `false` and must be written without any quotes.",
        "height": 320,
        "color": 7
      },
      "id": "9ebd8d98-31aa-47e6-a552-71aed2d8c7eb",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Incorrect3",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -2864,
        -32
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Boolean. Hint: Boolean values are `true` or `false` and must be written without any quotes."
      },
      "id": "1a3a6b34-b2e2-4e84-a3e7-b62969e5dcb7",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Error - Boolean",
      "type": "n8n-nodes-base.stopAndError",
      "creator": "Lucas Peyrin",
      "position": [
        -2800,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"is_active\": true,\n  \"has_permission\": false\n}\n",
        "options": {}
      },
      "id": "243b422d-9ca8-4c7f-8d0f-dce7f0a0ac31",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer - Boolean",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -3280,
        368
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 4: Null\n\nModify the **\"Test - Null\"** node.\n\n**Task:** Create a JSON object with a key `middle_name` whose value is explicitly nothing, or `null`.\n\n\n![Null](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXF0NG9pYWw2OXRiZGV0bTA1MGoyY3h2MXNjaWY0a2Iydjc1eHh0ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/05dgux7TEBbY4VxAlb/giphy.gif)",
        "height": 492,
        "width": 316,
        "color": 6
      },
      "id": "ed401fd6-9342-4a0b-9f0e-d24649f6f185",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Instruction - Null",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -2576,
        -384
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"middle_name\": \n}\n",
        "options": {}
      },
      "id": "033df803-7e7e-4b33-aea0-f556181d21b1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Test - Null",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -2464,
        -96
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e1234567-890a-bcde-f123-456789012345",
              "operator": {
                "type": "any",
                "operation": "isEmpty"
              },
              "leftValue": "={{ $json.middle_name }}"
            },
            {
              "id": "93811b17-9736-4f3a-bd69-0b297e6f7684",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.middle_name }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bbcbc394-9901-4886-80a8-7a55c5587abb",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Check - Null",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        -2208,
        -96
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nExcellent. Time for arrays.",
        "height": 272,
        "color": 7
      },
      "id": "90ba0bac-2858-4fc9-a225-5eb235d07e3f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Correct4",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -2048,
        -320
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "340c2dad-cf90-42bd-a297-ec356860b7c1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Success - Null",
      "type": "n8n-nodes-base.noOp",
      "creator": "Lucas Peyrin",
      "position": [
        -1984,
        -208
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Null. Hint: The `null` value represents 'nothing' and is written as `null` without quotes."
      },
      "id": "f4cd3d8b-2378-4e4f-9eb8-ee9f440f7203",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Error - Null",
      "type": "n8n-nodes-base.stopAndError",
      "creator": "Lucas Peyrin",
      "position": [
        -1984,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"middle_name\": null\n}\n",
        "options": {}
      },
      "id": "47d15b16-c777-4d46-8f55-87fe454c9be1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer - Null",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -2464,
        272
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 5: Array\n\nModify the **\"Test - Array\"** node.\n\n**Task:** Create a JSON object with a key `tags` which is an array containing:\n- The string `'n8n'`\n- The string `'automation'`\n- The number `2024`\n\n\n![Array](https://media1.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dmxsZzN2Y3o5NHRqdGk2eHRmdmoycmdiYjFqMW90eGY1c3c2aGQ3MSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Iv6s8zUIyIfnXBp6B8/200.webp)",
        "height": 530,
        "width": 300,
        "color": 6
      },
      "id": "d0aa1645-bb19-4302-813f-c6921c2f928f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Instruction - Array",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -1728,
        -448
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tags\": \n}\n",
        "options": {}
      },
      "id": "2a9e1628-5563-4cc7-9ac5-05d080467c1d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Test - Array",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -1616,
        -96
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b0123456-7890-abcd-ef12-345678901234",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tags[0] }}",
              "rightValue": "n8n"
            },
            {
              "id": "c1234567-890a-bcde-f123-456789012345",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tags[1] }}",
              "rightValue": "automation"
            },
            {
              "id": "d2345678-90ab-cdef-1234-567890123456",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tags[2] }}",
              "rightValue": 2024
            }
          ]
        },
        "options": {}
      },
      "id": "96662bc0-081c-4579-84b5-24abd098e293",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Check - Array",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        -1392,
        -96
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nAlmost there. Last one: objects.",
        "height": 272,
        "color": 7
      },
      "id": "ae9769ee-6e3e-4f0a-92a9-74d4bc2ba817",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Correct5",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -1216,
        -320
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "7386dbbf-1c5d-44d3-a342-adf4207b1b4e",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Success - Array",
      "type": "n8n-nodes-base.noOp",
      "creator": "Lucas Peyrin",
      "position": [
        -1152,
        -208
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Check the order of items, data types (string vs number), and the syntax: `[` `]` `,`.",
        "height": 320,
        "color": 7
      },
      "id": "abfcb00d-c8de-41bf-b53b-22a07406dcc6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Incorrect5",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -1216,
        -32
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Array. Hint: Check the order of items, data types (string vs number), and the syntax: `[` `]` `,`."
      },
      "id": "7f1936b2-40e7-4b75-8eef-dc587d201951",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Error - Array",
      "type": "n8n-nodes-base.stopAndError",
      "creator": "Lucas Peyrin",
      "position": [
        -1152,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tags\": [\"n8n\", \"automation\", 2024]\n}\n",
        "options": {}
      },
      "id": "e867e9ce-53cc-455a-938f-51b97cc31f7d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer - Array",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -1616,
        256
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 6: Object\n\nModify the **\"Test - Object\"** node.\n\n**Task:** Create a JSON object with a key `user`. Its value should be *another object* with two keys:\n- `name` (string: `'Alex'`)\n- `id` (number: `987`)\n\n\n![Object](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmlwNHlld3ZpbjF2eGg1Z3hndGxpN3RsMDQ5MmYyNDh6cjE1YWN3OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AiPHa8Drgklos/giphy.gif)",
        "height": 482,
        "width": 316,
        "color": 6
      },
      "id": "54ee17bf-17fe-4db9-ba7a-a7f568682d6e",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Instruction - Object",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -928,
        -400
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user\": \n}\n",
        "options": {}
      },
      "id": "02404f6b-9c6e-4655-8488-a6adb2481e4c",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Test - Object",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -816,
        -96
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1234567-890a-bcde-f123-456789012345",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.user.name }}",
              "rightValue": "Alex"
            },
            {
              "id": "b2345678-90ab-cdef-1234-567890123456",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.user.id }}",
              "rightValue": 987
            }
          ]
        },
        "options": {}
      },
      "id": "bbfb546e-11e5-45a6-afaf-37749448ffee",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Check - Object",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        -560,
        -96
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **YOU DID IT!**",
        "height": 240,
        "color": 7
      },
      "id": "9a6a43c3-94f5-4b4a-b096-26236c5acc1d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Correct6",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -400,
        -288
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "89bc00cc-9b2e-43ad-993d-8a1b2b1fa36e",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Success - Object",
      "type": "n8n-nodes-base.noOp",
      "creator": "Lucas Peyrin",
      "position": [
        -336,
        -208
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Remember to wrap the inner object in curly braces `{}` and check the data types inside it.",
        "height": 320,
        "color": 7
      },
      "id": "a17ce8dc-cd73-42c6-9f76-d857d13d3a20",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Incorrect6",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -400,
        -32
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Object. Hint: Remember to wrap the inner object in curly braces `{}` and check the data types inside it."
      },
      "id": "0a6d49ed-dbdd-4f38-8e8b-366f03583003",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Error - Object",
      "type": "n8n-nodes-base.stopAndError",
      "creator": "Lucas Peyrin",
      "position": [
        -336,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user\": {\n    \"name\": \"Alex\",\n    \"id\": 987\n  }\n}\n",
        "options": {}
      },
      "id": "943753e9-51ed-40f1-8591-bef1474cc649",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer - Object",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -816,
        256
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "🎉 **Congratulations! You've passed the test!**\n\nYou have successfully demonstrated your understanding of all the basic JSON data types.\n\nYou are now ready to work with data in n8n.\n\n-- Well done! --",
        "height": 576,
        "width": 416,
        "color": 4
      },
      "id": "81154e24-bcd9-4222-b32f-8ab69460e55e",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Congratulations!",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -128,
        -288
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 1: The String\n\nModify the **\"Test - String\"** node below.\n\n**Task:** Create a JSON object with a single key named `my_string` whose value is the text `I love automation`.",
        "height": 396,
        "width": 300,
        "color": 6
      },
      "id": "2fb98f05-d8e3-4b34-aa7e-7ecd5d84b61c",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Instruction - String1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -5024,
        -320
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nLet's move on to numbers.",
        "height": 272,
        "color": 7
      },
      "id": "f8a29402-bec1-43a2-9724-cc5cc131a3d7",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Correct1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -4512,
        -320
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** A string value must always be enclosed in double quotes `\" \"`. Check for typos!",
        "height": 320,
        "color": 7
      },
      "id": "7020057b-1da8-4227-b91b-86c2880a6809",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Incorrect1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -4512,
        -32
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "## JSON Knowledge Test\n\nWelcome to the practical test! The goal is to check your understanding of the JSON concepts you've just learned.\n\n**How to use this test:**\n1.  For each step, read the instructions on the purple sticky note.\n2.  Modify the corresponding **\"Test - ...\"** node by writing the correct JSON in the text area.\n3.  Click **\"Execute Workflow\"** to check your answers.\n4.  A green path means a correct answer, a red path means it's incorrect. Keep trying until the path turns green!\n\n\nGood luck!",
        "height": 504,
        "width": 460
      },
      "id": "ba696e4d-f482-4423-90b7-bdbc0acf1e04",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -5520,
        -432
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nLet's move on to booleans.",
        "height": 272,
        "color": 7
      },
      "id": "1846b1e7-c055-4d13-9b39-20fed0694371",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Correct7",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -3696,
        -320
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** The `null` value represents 'nothing' and is written as `null` without quotes.",
        "height": 320,
        "color": 7
      },
      "id": "0ba32d04-7cc1-4ed4-ac63-9e30176edb48",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Feedback Incorrect7",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -2048,
        -32
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Number** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "id": "f812daf1-7e58-4a6e-b6b8-8c47b84ffb87",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - Number",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -4208,
        128
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Boolean** step. You can use it as a reference if you get stuck.",
        "height": 288,
        "width": 320,
        "color": 7
      },
      "id": "37d3d3d9-dd75-4d68-bbe5-c426de590c65",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - Boolean",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -3392,
        240
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Null** step. You can use it as a reference if you get stuck.",
        "height": 288,
        "width": 320,
        "color": 7
      },
      "id": "c30ad4ab-6d74-486b-81cd-211431ef73d7",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - Null",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -2576,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Array** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "id": "6ad6cadc-8805-49af-acae-82cfc3aaa35a",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - Array",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -1728,
        112
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Object** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 320,
        "color": 7
      },
      "id": "0a4d774a-6157-4c69-9bb3-55851ac9d62d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - Object",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -928,
        112
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"my_string\": \n}\n",
        "options": {}
      },
      "id": "065793bd-29c9-4be4-9dc4-dd74ffb097b2",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Test - String",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -4928,
        -96
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ac1af5c-2769-42f8-9df7-ec092d2fec05",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.my_string.trim().toLowerCase() }}",
              "rightValue": "i love automation"
            }
          ]
        },
        "options": {}
      },
      "id": "41be9474-5785-40ff-900f-026571981ec4",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Check - String",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        -4672,
        -96
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "6ff36450-f978-487c-9ad9-ac58b2f6016d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Success - String",
      "type": "n8n-nodes-base.noOp",
      "creator": "Lucas Peyrin",
      "position": [
        -4448,
        -208
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect String. Hint: A string value must always be enclosed in double quotes `\" \"`. Check for typos!"
      },
      "id": "b7c2d2ed-e9b7-4843-908e-12444a17c265",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Error - String",
      "type": "n8n-nodes-base.stopAndError",
      "creator": "Lucas Peyrin",
      "position": [
        -4448,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"product_id\": ,\n  \"price\": \n}\n",
        "options": {}
      },
      "id": "9770a0ce-b1dd-458e-b807-d9ebd94d3388",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Test - Number",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -4112,
        -96
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ac1af5c-2769-42f8-9df7-ec092d2fec05",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.product_id }}",
              "rightValue": 12345
            },
            {
              "id": "7c1937fa-393c-4b5c-88f5-788df2f99295",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.price }}",
              "rightValue": 99.99
            }
          ]
        },
        "options": {}
      },
      "id": "8a9bdeba-2226-4c84-810a-e198fd60c528",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Check - Number",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        -3856,
        -96
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Number. Hint: Numbers must not be in quotes. Check both the integer and the decimal value."
      },
      "id": "8bc0da9f-42ee-4540-863a-3a2652b8fed3",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Error - Number",
      "type": "n8n-nodes-base.stopAndError",
      "creator": "Lucas Peyrin",
      "position": [
        -3632,
        144
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"product_id\": 12345,\n  \"price\": 99.99\n}\n",
        "options": {}
      },
      "id": "1488cd2b-07eb-4eff-9cf0-f060860230ab",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer - Number",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -4112,
        272
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"my_string\": \"I love automation\"\n}\n",
        "options": {}
      },
      "id": "5d164a68-36f9-4c8e-ae76-816226ca007b",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer - String",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        -4928,
        256
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **String** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "id": "ec3464e8-9f9f-46e6-9252-465a53497d7d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - String",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -5024,
        112
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "548ddb7f-e3ca-4ee8-b201-b1b7ac669bb3",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Success - Number",
      "type": "n8n-nodes-base.noOp",
      "creator": "Lucas Peyrin",
      "position": [
        -3632,
        -208
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "d3113904-8a4f-49e7-b5b0-17c6f3b3bd0f",
      "name": "Start Test!",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -5264,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### How to pass a test\n![Test Example](https://supastudio.ia2s.app/storage/v1/object/public/assets/n8n/json_test_guide.gif)",
        "height": 304,
        "width": 464,
        "color": 7
      },
      "id": "197c8563-3f4b-4933-8ff4-0348f4f48918",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Answer Note - String1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -5520,
        112
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "[![Test Skills](https://supastudio.ia2s.app/storage/v1/object/public/assets/n8n/n8n_animation.gif)](https://n8n.io/creators/lucaspeyrin)",
        "height": 184,
        "width": 272,
        "color": 4
      },
      "id": "de18a680-b4f8-4c29-9c21-17c20cc32982",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        -48,
        80
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Test!": {
      "main": [
        [
          {
            "node": "Test - String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Null": {
      "main": [
        [
          {
            "node": "Check - Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Null": {
      "main": [
        [
          {
            "node": "Success - Null",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Array": {
      "main": [
        [
          {
            "node": "Check - Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Array": {
      "main": [
        [
          {
            "node": "Success - Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Number": {
      "main": [
        [
          {
            "node": "Check - Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Object": {
      "main": [
        [
          {
            "node": "Check - Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - String": {
      "main": [
        [
          {
            "node": "Check - String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Number": {
      "main": [
        [
          {
            "node": "Success - Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Object": {
      "main": [
        [
          {
            "node": "Success - Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - String": {
      "main": [
        [
          {
            "node": "Success - String",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Null": {
      "main": [
        [
          {
            "node": "Test - Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Boolean": {
      "main": [
        [
          {
            "node": "Check - Boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Boolean": {
      "main": [
        [
          {
            "node": "Success - Boolean",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Array": {
      "main": [
        [
          {
            "node": "Test - Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Number": {
      "main": [
        [
          {
            "node": "Test - Boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Object": {
      "main": [
        [
          {
            "node": "🎉 SUCCESS 🎉",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - String": {
      "main": [
        [
          {
            "node": "Test - Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Boolean": {
      "main": [
        [
          {
            "node": "Test - Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fcbc92a-59be-4e6a-858a-a6e4dccae78c",
  "meta": {
    "instanceId": "ae59e6b831344dba624c99cbe778a4bc47150f8e64de86a8011d15bac8e58c21"
  },
  "id": "QAAWDmMzyngD7dZv",
  "tags": []
}