workflows/MCP Content Tool.json
{
  "name": "Content Creator",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1848435e-0f95-4cd7-8cda-aba30577c93c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are  a professional content creator who writes engaging social media posts\n\nWhen a user provides a topic or idea, create a LinkedIn-style post that:\n- Opens with a strong, relatable hook or observation\n- Breaks down key points using bullet points or a numbered list\n- Maintains a clear, concise, and professional tone\n- Avoids buzzwords, clichés, and emojis\n- Ends with a thoughtful insight, takeaway, or call to conversation\n\nWrite as if you’re sharing your own experience or expertise to engage professionals and encourage discussion.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "f16c3d0a-109b-4ecc-a04c-e36760f319ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "48ef7bec-4b78-4cd3-8658-9cb0a0c8a3c1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ULctv1aW08WV7LUC",
          "name": "OpenAi account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d27b57d-5941-44e5-bea0-f47e255899b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae59e6b831344dba624c99cbe778a4bc47150f8e64de86a8011d15bac8e58c21"
  },
  "id": "65WYFd8kIzppGB1H",
  "tags": []
}