workflows/Social Media Autoposting.json
{
  "name": "Social Media Autoposting",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false,\n      \"autoAddMusic\": true\n    },\n  \"content\": {\n    \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n    \"platform\": \"tiktok\",\n    \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.tiktok }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        620
      ],
      "id": "07484ed0-452c-4560-ba6f-eda3dda9507a",
      "name": "Publish on TikTok",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        140
      ],
      "id": "2a208d30-b264-4502-bb08-7ee52606265a",
      "name": "Upload to Blotato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.linkedin }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -340
      ],
      "id": "c8bc95b1-6b5e-4c67-870a-44dd5014bf31",
      "name": "Linkedin",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.instagram }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -20
      ],
      "id": "d9981264-7e47-446c-b26d-69046d165452",
      "name": "Instagram",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $json.facebook }}\",\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Title'].title[0].text.content }}. {{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"],\n      \"platform\": \"facebook\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -180
      ],
      "id": "5d75a334-58a4-4689-8acc-2f51b1175387",
      "name": "Facebook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1380,
        140
      ],
      "id": "95de0394-3010-4257-b61e-c9250f83ab0d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e40bd60d-9beb-4a55-88cd-7ad167d5e94b",
              "leftValue": "={{ $json.triggerDate }}",
              "rightValue": "={{ $json.notionDate }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "915b7913-c9c1-49aa-bb82-9eba67b0a259",
              "leftValue": "={{ $('Get All Posts').item.json.properties.Status.select.name }}",
              "rightValue": "Waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        140
      ],
      "id": "40fb1cd5-fc96-41ec-9a32-b9c61beba2b9",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const notionDateTimeRaw = item.json.properties?.[\"Publish Date\"]?.date?.start;\n\n  let notionDateOnly = null;\n  let notionTimeOnly = null;\n\n  if (notionDateTimeRaw) {\n    // Extract date and time from ISO string manually to keep UTC+2\n    const [datePart, timePartWithZone] = notionDateTimeRaw.split(\"T\");\n    const timePart = timePartWithZone.split(\"+\")[0].split(\".\")[0]; // clean from +02:00 and milliseconds\n    notionDateOnly = datePart;\n    notionTimeOnly = timePart;\n  }\n\n  const triggerTimestamp = item.json[\"Schedule Trigger\"]?.timestamp || new Date().toISOString();\n  const triggerDate = new Date(triggerTimestamp);\n  const triggerDateOnly = triggerDate.toISOString().split(\"T\")[0];\n  const triggerTimeOnly = triggerDate.toTimeString().split(\" \")[0];\n\n  output.push({\n    notionDate: notionDateOnly,\n    notionTime: notionTimeOnly,\n    triggerDate: triggerDateOnly,\n    triggerTime: triggerTimeOnly\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        140
      ],
      "id": "c9e4bab6-82e5-4180-8892-aadba5d1f7d4",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -500,
        380
      ],
      "id": "5c116f86-6241-43d6-a65c-ad2f4b6f7e7b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Code').item.json.notionTime }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -300,
        140
      ],
      "id": "fc053c3a-5405-43b4-b88a-edcf6aaba22a",
      "name": "Wait",
      "webhookId": "2643cc9e-090d-44f0-909d-6efa3e356e50",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        140
      ],
      "id": "70d38763-4487-4de5-99fd-f0fc4dad80b9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TTVT9k7AcKDwgM8g",
          "name": "Google Drive account 7"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Pinterest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pinterest"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X (Twitter)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiktok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1500,
        60
      ],
      "id": "f461493f-7db0-49e1-a0e8-9ac6da05ba87",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"696861811032050496\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.pinterest }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        300
      ],
      "id": "cbf50289-1edd-4b40-ba51-03bbac7f6221",
      "name": "Pinterest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.twitter }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        460
      ],
      "id": "c2b19e7b-cea3-4e68-a160-54c0cdc5ace3",
      "name": "Twitter",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get All Posts').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.youtube }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        140
      ],
      "id": "8f9f0450-ff22-40dc-bbb8-6e98b2fe630b",
      "name": "Publish on Youtube",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Planned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -500,
        140
      ],
      "id": "39eb365d-d11d-4bcb-b369-d928d289c6aa",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        460
      ],
      "id": "3ab70a25-f802-4442-a0b5-b7e9176347f1",
      "name": "Update a database page1",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        620
      ],
      "id": "42e5c4bc-6c55-4235-ace8-e54ed3987882",
      "name": "Update a database page2",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        140
      ],
      "id": "617163d4-6614-4d35-a442-64fb204e4fdf",
      "name": "Update a database page3",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        -20
      ],
      "id": "865f3664-aefb-4e0c-bb99-48c71f181858",
      "name": "Update a database page4",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        -180
      ],
      "id": "feef484e-272c-4f70-a3af-50b44b8d3f53",
      "name": "Update a database page5",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        300
      ],
      "id": "8e375a90-e184-46cc-848f-a858b359c6cc",
      "name": "Update a database page6",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        -340
      ],
      "id": "aea9687b-c2b6-465b-9340-a4b27768b3ef",
      "name": "Update a database page7",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"facebook\": \"3991\",\n  \"facebook_page_id\": \"692981360555594\",\n  \"youtube\": \"4416\",\n  \"tiktok\": \"5757\",\n  \"instagram\": \"7807\",\n  \"linkedin\": \"3159\",\n  \"pinterest\": \"977\",\n  \"twitter\": \"3909\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        140
      ],
      "id": "9825650b-f28e-40fb-8542-132e139e37ff",
      "name": "Set Your IDs"
    },
    {
      "parameters": {
        "content": "# Publish to One Social Media",
        "height": 1360,
        "width": 3860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        -480
      ],
      "id": "0c91e3a9-9b62-47d1-a457-7f5d101d9801",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"content_type\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        280,
        320
      ],
      "id": "e43e3911-ca83-46b6-a915-e875fce58299",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        320
      ],
      "id": "ad96c53d-1218-41e8-af7a-a51e91e0762b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0qLMfnxIrfTptc0E",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "id": "322c5410-bc6f-444b-a83a-c0e72aa901d7",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TTVT9k7AcKDwgM8g",
          "name": "Google Drive account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        -20
      ],
      "id": "f317be19-935f-427d-aa73-1f0e08e09162",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TTVT9k7AcKDwgM8g",
          "name": "Google Drive account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/dfidczp14/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "id": "dc5fd5ed-cc43-4751-887d-a45186820bef",
      "name": "Get Video URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/dfidczp14/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        -20
      ],
      "id": "37d6907c-1d57-4576-9955-464142dd7d39",
      "name": "Get Image URL"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "22cccdb2-3d99-805b-a42b-c17fab0cff3b",
          "mode": "list",
          "cachedResultName": "Content to Post",
          "cachedResultUrl": "https://www.notion.so/22cccdb23d99805ba42bc17fab0cff3b"
        },
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1180,
        140
      ],
      "id": "27eaeaa3-2fed-44d7-91b1-f2854c4c7fb7",
      "name": "Get All Posts",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5c8a058-f5f1-45f5-a8b8-b690ed82ebd6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a39f267c-d27c-48aa-b6d8-be47b716e757",
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        460,
        140
      ],
      "id": "00704b80-5979-42e7-903d-32e55643d7d5",
      "name": "Video/Image"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Decide if the file provided is an image or a video. If it's an image return \"image\", if the video return \"video\", not any other elements or parts\n\nFile Name: {{$binary.data.fileName}}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        140
      ],
      "id": "e55fdaf4-c8bb-4d86-9f0f-86f774c828c6",
      "name": "Controller AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        1540
      ],
      "id": "836d04c4-e2f5-4ada-a944-b5af1eea4d4b",
      "name": "Upload to Blotato1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.linkedin }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1240
      ],
      "id": "8a01baf2-8415-4ef6-b307-beea71eccedc",
      "name": "Linkedin1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.instagram }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1440
      ],
      "id": "c2102396-0c77-4592-b172-11989c461299",
      "name": "Instagram1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1380,
        1540
      ],
      "id": "170fa614-fd32-4c5c-a3d8-cbf66e52a081",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e40bd60d-9beb-4a55-88cd-7ad167d5e94b",
              "leftValue": "={{ $json.triggerDate }}",
              "rightValue": "={{ $json.notionDate }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "915b7913-c9c1-49aa-bb82-9eba67b0a259",
              "leftValue": "={{ $('Get All Posts1').item.json.properties.Status.select.name }}",
              "rightValue": "Waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        1540
      ],
      "id": "9b3924d4-2a14-47d1-9942-122367a9b766",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const notionDateTimeRaw = item.json.properties?.[\"Publish Date\"]?.date?.start;\n\n  let notionDateOnly = null;\n  let notionTimeOnly = null;\n\n  if (notionDateTimeRaw) {\n    // Extract date and time from ISO string manually to keep UTC+2\n    const [datePart, timePartWithZone] = notionDateTimeRaw.split(\"T\");\n    const timePart = timePartWithZone.split(\"+\")[0].split(\".\")[0]; // clean from +02:00 and milliseconds\n    notionDateOnly = datePart;\n    notionTimeOnly = timePart;\n  }\n\n  const triggerTimestamp = item.json[\"Schedule Trigger\"]?.timestamp || new Date().toISOString();\n  const triggerDate = new Date(triggerTimestamp);\n  const triggerDateOnly = triggerDate.toISOString().split(\"T\")[0];\n  const triggerTimeOnly = triggerDate.toTimeString().split(\" \")[0];\n\n  output.push({\n    notionDate: notionDateOnly,\n    notionTime: notionTimeOnly,\n    triggerDate: triggerDateOnly,\n    triggerTime: triggerTimeOnly\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        1540
      ],
      "id": "8f27bd38-1c90-4027-be4b-9ec9a767e0b2",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -500,
        1780
      ],
      "id": "bb867056-7342-406e-ad2d-eb59f994e68e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Code1').item.json.notionTime }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -300,
        1540
      ],
      "id": "7a9c05ac-d6f3-4efd-a522-a84bf5b2365d",
      "name": "Wait1",
      "webhookId": "2643cc9e-090d-44f0-909d-6efa3e356e50",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        1540
      ],
      "id": "7e4a2467-8d01-4eb2-a5e5-c6eb27bfef7c",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TTVT9k7AcKDwgM8g",
          "name": "Google Drive account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').first().json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.twitter }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1840
      ],
      "id": "3635339a-6c2f-4db7-9d66-35164b81446f",
      "name": "Twitter1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get All Posts1').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.youtube }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1640
      ],
      "id": "4dcc4960-3478-4c04-8355-120f6bf4bdf0",
      "name": "Publish on Youtube1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mByFY43KSS8qNYXk",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Planned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -500,
        1540
      ],
      "id": "b808390c-4592-4f9b-8499-ae08be4d152d",
      "name": "Update a database page8",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        1640
      ],
      "id": "48c5d56c-8293-444f-98f5-2668249bddaa",
      "name": "Update a database page11",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"facebook\": \"3991\",\n  \"facebook_page_id\": \"692981360555594\",\n  \"youtube\": \"4416\",\n  \"tiktok\": \"5757\",\n  \"instagram\": \"7807\",\n  \"linkedin\": \"3159\",\n  \"pinterest\": \"1326\",\n  \"twitter\": \"3909\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1540
      ],
      "id": "cdfe0384-5101-4525-8b1f-1cf2f0e83211",
      "name": "Set Your IDs1"
    },
    {
      "parameters": {
        "content": "# Publish to ALL Social Media",
        "height": 1360,
        "width": 3860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        920
      ],
      "id": "0ab8c4ff-d929-4409-90d5-7fcddecb3828",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"content_type\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        280,
        1720
      ],
      "id": "10d90134-df38-460c-8e46-38a81ac206c9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        1720
      ],
      "id": "43d28ce9-b86b-46a8-afdf-7bb449aa14d3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0qLMfnxIrfTptc0E",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        1700
      ],
      "id": "95479f4a-f4c2-4d95-9bb5-8f0dd30a2417",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TTVT9k7AcKDwgM8g",
          "name": "Google Drive account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        1380
      ],
      "id": "f343e44f-b9f8-4e94-9f77-199e1c6b61a2",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TTVT9k7AcKDwgM8g",
          "name": "Google Drive account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/dfidczp14/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        1700
      ],
      "id": "1b4f9ec4-44dd-41de-a187-0fdf459dfed2",
      "name": "Get Video URL1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/dfidczp14/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        1380
      ],
      "id": "06f90287-7085-47c8-a630-723f492a8168",
      "name": "Get Image URL1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "22cccdb2-3d99-805b-a42b-c17fab0cff3b",
          "mode": "list",
          "cachedResultName": "Content to Post",
          "cachedResultUrl": "https://www.notion.so/22cccdb23d99805ba42bc17fab0cff3b"
        },
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1180,
        1540
      ],
      "id": "b4279fea-0daf-4eef-975d-2a3046fd9080",
      "name": "Get All Posts1",
      "credentials": {
        "notionApi": {
          "id": "JnL07o1ynWmdetnf",
          "name": "Notion account 5"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5c8a058-f5f1-45f5-a8b8-b690ed82ebd6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a39f267c-d27c-48aa-b6d8-be47b716e757",
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        460,
        1540
      ],
      "id": "d411f109-eddc-4d8d-a93e-669754063e72",
      "name": "Video/Image1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Decide if the file provided is an image or a video. If it's an image return \"image\", if the video return \"video\", not any other elements or parts\n\nFile Name: {{$binary.data.fileName}}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        1540
      ],
      "id": "898205e1-35a7-4ac6-b0ce-d09ee7a8e06d",
      "name": "Controller AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Publish on TikTok": {
      "main": [
        [
          {
            "node": "Update a database page2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato": {
      "main": [
        [
          {
            "node": "Set Your IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "Update a database page7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Update a database page4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "Update a database page5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Controller AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish on Youtube",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pinterest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish on TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish on Youtube": {
      "main": [
        [
          {
            "node": "Update a database page3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter": {
      "main": [
        [
          {
            "node": "Update a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest": {
      "main": [
        [
          {
            "node": "Update a database page6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Your IDs": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Controller AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Controller AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Get Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL": {
      "main": [
        [
          {
            "node": "Upload to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Upload to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Posts": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video/Image": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller AI Agent": {
      "main": [
        [
          {
            "node": "Video/Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato1": {
      "main": [
        [
          {
            "node": "Set Your IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin1": {
      "main": [
        []
      ]
    },
    "Instagram1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get All Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update a database page8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Controller AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter1": {
      "main": [
        []
      ]
    },
    "Publish on Youtube1": {
      "main": [
        [
          {
            "node": "Update a database page11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page8": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Your IDs1": {
      "main": [
        [
          {
            "node": "Linkedin1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish on Youtube1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Controller AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Controller AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Get Video URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Get Image URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL1": {
      "main": [
        [
          {
            "node": "Upload to Blotato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL1": {
      "main": [
        [
          {
            "node": "Upload to Blotato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Posts1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video/Image1": {
      "main": [
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller AI Agent1": {
      "main": [
        [
          {
            "node": "Video/Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be973f68-8920-4b54-9e20-7cac8ef5ceb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f96a7e8659163312cbaf16ad76688747ea79fa6bf8e4ec720c14444abdf2c12c"
  },
  "id": "tVgrhtqBbZFoAKm6",
  "tags": []
}